body{
    color: #333;
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}

#container {
    width: 70px;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
